<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SupLink</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/shortlink</location>
  </error-page>
  <servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.supinfo.suplink.rest</param-value>
		</init-param>
  </servlet>
  <servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShortlinkServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.ShortlinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortlinkServlet</servlet-name>
    <url-pattern>/shortlink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/sent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShortlinkDetailsServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.ShortlinkDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortlinkDetailsServlet</servlet-name>
    <url-pattern>/link/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAddShortlinkServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.ListAddShortlinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAddShortlinkServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveShortlinkServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.RemoveShortlinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveShortlinkServlet</servlet-name>
    <url-pattern>/removeShortlink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModStatusShortlinkServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.ModStatusShortlinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModStatusShortlinkServlet</servlet-name>
    <url-pattern>/disableShortlink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitDbServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.InitDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDbServlet</servlet-name>
    <url-pattern>/initdb</url-pattern>
  </servlet-mapping>
</web-app>